shamefully-hoist=true
strict-peer-dependencies=false
shell-emulator=true
@mobiscroll:registry=https://npm.mobiscroll.com
//npm.mobiscroll.com/:_authToken=dK1lkAIgPJWv9aMaTTNWno6moi3TPcCXisn2+CODlD0CvQqp/qsprMeQvuiYM9SWmGOA8bPMvj+HigCc18ccWA==
